/* Write your CSS here */
.teamMatches-bg {
  background-image: linear-gradient(#a4261d, #1e293b);
  /* height: 100vh; */
  padding: 3rem 2rem;
}

.teamMatches-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.latestMatches {
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.list-container-for-MatchCard {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
