.latest-match-container {
  background-color: #0f172a;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.left-container {
  width: 220px;
}

.right-container {
  text-align: end;
}

@media (max-width: 425px) {
  .latest-match-container {
    flex-direction: column;
    text-align: center;
  }

  .right-container {
    text-align: center;
  }
}
